.card {
    width: 350px;
    height: 407px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.image {
    width: 219.61px;
    height: 237.07px;
    margin: 0 65.195px 0 65.195px;
}

.hover:hover {
    color: yellow;
    text-decoration: underline;
}